html, body {
  margin: 0;
  padding: 0;

  .nav {
    background: #f9f9f9;

    a {
      color: #999;
      margin: 0 5px;
      text-decoration: none;

      &:hover {
      	text-decoration: underline;
      	color: orange;
      }
    }
  }

}