html, body {
  margin: 0;
  padding: 0;

  .nav {
    background: #f9f9f9;
    padding: 10px 0;
    a {
      color: #999;
      margin: 0 5px;
      text-decoration: none;

      &:hover {
      	text-decoration: underline;
      	color: orange;
      }
    }
  }
  .test {
    margin-top: 10px;
    .loading {
      height: 200px;
      width: 250px;
      display: inline-block;
      background-image: url(../img/big_dog.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      filter: blur(2px); 
    }
  }
}